:root {
	--g-colour-1: cornflowerblue;
	--g-colour-2: salmon;
	--text-colour: lavender;
	--shadow-colour: black;
	--cadetblue: cadetblue;
	--indianred: indianred;
	--lightblue: lightblue;
	--none: none;
}
.fairyfloss {
	--g-colour-1: cornflowerblue;
	--g-colour-2: salmon;
	--text-colour: lavender;
	--shadow-colour: black;
	--cadetblue: cadetblue;
	--indianred: indianred;
	--lightblue: lightblue;
	--none: none;
}
.dark {
	--g-colour-1: #000022;
	--g-colour-2: #000011;
	--text-colour: white;
	--shadow-colour: dimgray;
	--cadetblue: cadetblue;
	--indianred: indianred;
	--lightblue: lightblue;
	--none: none;
}
.matrix {
	--g-colour-1: black;
	--g-colour-2: black;
	--text-colour: Chartreuse;
	--shadow-colour: null;
	--cadetblue: Chartreuse;
	--indianred: black;
	--lightblue: Chartreuse;
	--none: black;
}