p {
	font-size: 20px;
}

div#downloadsDiv {
	margin-left: 16px;
	font-size: 32px;
}

.collapse {
	display: none;
}

.label {
	width: 100%;
	display: inline-block;
	background: var(--label-bg);
	padding: 1rem;
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-radius: 4px;
}

.label:hover {
	cursor: pointer;
	background: var(--label-bg-hover);
}

.label:active {
	background: var(--label-bg-click);
}

.label::before {
	content: "";
	cursor: pointer;
	display: inline-block;
	transform: translateY(-2px);
}

.content {
	background-color: var(--content-bg);
	border: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height .01s ease-in-out;
}

.collapse-wrapper {
	width: 96%;
	display: inline-block;
}

.link {
	float: left;
}

.label {
	font-size: 32px;
	user-select: none;
}

#toggle-0904:checked + #label-0904 + #content-0904 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-0904:checked + #label-0904 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-0903:checked + #label-0903 + #content-0903 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-0903:checked + #label-0903 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-0902:checked + #label-0902 + #content-0902 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-0902:checked + #label-0902 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-0901:checked + #label-0901 + #content-0901 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-0901:checked + #label-0901 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-0900:checked + #label-0900 + #content-0900 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-0900:checked + #label-0900 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-08D:checked + #label-08D + #content-08D {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-08D:checked + #label-08D {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-08C:checked + #label-08C + #content-08C {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-08C:checked + #label-08C {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-08B:checked + #label-08B + #content-08B {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-08B:checked + #label-08B {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-08:checked + #label-08 + #content-08 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-08:checked + #label-08 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-07B:checked + #label-07B + #content-07B {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-07B:checked + #label-07B {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-07:checked + #label-07 + #content-07 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-07:checked + #label-07 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-06:checked + #label-06 + #content-06 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-06:checked + #label-06 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-05:checked + #label-05 + #content-05 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-05:checked + #label-05 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-04:checked + #label-04 + #content-04 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-04:checked + #label-04 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-03:checked + #label-03 + #content-03 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-03:checked + #label-03 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-02:checked + #label-02 + #content-02 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-02:checked + #label-02 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#toggle-01:checked + #label-01 + #content-01 {
	max-height: 100%;
	width: 100%;
	padding: .5rem 1rem;
	border-left: 4px solid var(--border-color-1);
	border-bottom: 4px solid var(--border-color-2);
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#toggle-01:checked + #label-01 {
	border-top: 4px solid var(--border-color-1);
	border-left: 4px solid var(--border-color-1);
	border-bottom: none;
	border-right: 4px solid var(--border-color-2);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
