html, body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	color: var(--text-color);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

#topDiv1 {
	display: flex;
	margin: auto;
	background-color: var(--header-background-color);
	width: 100%;
	height: 20vh;
}

#titleImgDiv {
	width: 30vw;
}

#topDiv2 {
	display: flex;
	margin: auto;
	background-color: var(--header-background-color);
	width: 100%;
	height: 10vh;
}

div.headerMainText {
	color: var(--text-color);
	text-shadow: 2px 2px var(--shadow-color);
}

.mainText {
	color: var(--text-color);
	text-shadow: 2px 2px var(--shadow-color);
}

div#whyExistDiv {
	margin-left: 16px;
	font-size: 32px;
}

div#developersDiv {
	margin-left: 16px;
	font-size: 32px;
}

#mainDiv {
	background-image: linear-gradient(to bottom right, var(--g-color-1), var(--g-color-2));
	height: 100%;
}

#msgDiv {
	height: 60vh;
	text-align: center;
}

.outerDiv {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 50vw;
	color: var(--text-color);
	justify-content: center;
}

.innerDiv {
	font-size: 64px;
	color: var(--text-color);
	text-shadow: 2px 2px var(--shadow-color);
	margin: auto;
}

.image {
	outline: var(--outline-color-1) solid 2px;
	margin-top: auto;
	margin-bottom: auto;
}

.image:hover {
	transition: 1s;
	outline: var(--outline-color-1) solid 2px;
}

.image:active {
	transition: 0.2s;
	outline: var(--outline-color-2) solid 3px;
}

.buttonForm {
	margin: auto;
}

.theme {
	font-size: 24px;
}

.frameDiv {
	margin: auto;
}

button {
	color: var(--text-color);
	text-shadow: 2px 2px var(--shadow-color);
	border-radius: 8px;
	font-size: 32px;
	background: none;
	border-top: 8px solid var(--border-color-2);
	border-left: 8px solid var(--border-color-2);
	border-bottom: 8px solid var(--border-color-1);
	border-right: 8px solid var(--border-color-1);
	padding: 5px 20px;
	margin-right: 20px;
	margin-left: 20px;
}

button:hover {
	transition: 1s;
	background-color: var(--outline-color-1);
}

button:active {
	transition: 0.2s;
	background-color: var(--outline-color-2);
	border-top: 8px solid var(--border-color-1);
	border-left: 8px solid var(--border-color-1);
	border-bottom: 8px solid var(--border-color-2);
	border-right: 8px solid var(--border-color-2);
}

.iframe {
	margin: auto;
}

.info {
	color: var(--text-color);
	text-shadow: 2px 2px var(--shadow-color);
}

p {
	font-size: 20px;
}

a {
	color: var(--a-text-color-1);
}

a:hover {
	color: var(--a-text-color-2);
}

a:active {
	color: var(--a-text-color-3);
}

select {
	color: var(--a-text-color-1);
	border-radius: 10px;
	font-size: 16px;
	background: var(--theme-color-1);
	border-color: var(--theme-border-color-1);
	padding: 5px 20px;
	margin-top: 10px;
	margin-left: 30px;
}

select:hover {
	transition: 0.6s;
	border-color: var(--theme-border-color-2);
	background: var(--theme-color-2);
}

select:active {
	transition: 0.2s;
	border-color: var(--theme-border-color-3);
	background: var(--theme-color-3);
}
